@media only screen and (max-width: 1200px) {
   .brands{
    width: 70% !important;

   }
  }

  @media only screen and (max-width: 768px) {
   .brands{
    width: 75% !important;
    font-size: 0.9rem;

   }
  }
  @media only screen and (max-width: 660px) {
   .web-nav{
    display: none !important;
   }
   .mob-nav{
      display: block !important;
   }
   .brands{
      width: 100% !important;
      font-size: 0.9rem;
  
     }
  }

  @media only screen and (max-width: 425px) {
  
   .brands{
      width: 100% !important;
      font-size: 0.7rem;
  
     }
  }