.home_head_txt {
  font-family: "Libre Baskerville";
  font-size: 2.5rem;
}
.mob-dis{
    display: none;
}
.disc_txt {
  font-size: 1.2rem;
  line-height: 1.9;
}
.review_txt {
  line-height: 1.9;
  font-size: 1.2rem;
}
.img-1 {
  height: 22rem;
}
.review_img {
  height: 35rem;
}
.img-2 {
  height: 30rem;
}
.img-3 {
  height: 24rem;
}
.monteserrat {
  font-family: "Montserrat";
  font-style: italic;
}
.roboto {
  font-family: "Roboto";
}

.testimonial_txt {
  font-family: "Libre Baskerville";
  font-size: 2rem;
  font-weight: 200;
}
.product_viewer {
  background-image: linear-gradient(white, #ededed);
}
.product_viewer_head {
  font-family: "Libre Baskerville";
  font-size: 2rem;
}

.View-More {
  border: 2px solid #d8bd84;
  border-radius: 1rem;
  color: #d8bd84;
  font-family: "Roboto";
  font-size: 1.1rem;
  padding: 0.3rem;
  text-align: center;
  width: 8rem;
}
a {
  text-decoration: none;
}
.product_favicon {
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
}

.anima {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
.half-round {
  background-color: #4a5c48;
  opacity: 50%;
  border-top-left-radius: 20rem;
  border-top-right-radius: 20rem;
  height: 3rem;
  width: 7rem;
}
.active {
  border: 1px solid rgba($color: #4a5c48, $alpha: 0.5) !important;
}
.banner {
  background: url(https://media.discordapp.net/attachments/908639378375581699/1051038018619834408/nbv_n.png?width=1920&height=768);

  background-color: #282756;
  border: 2px solid black;

  background-repeat: no-repeat;
  background-size: 100% 100%;
}

//--------------425px---------------
@media only screen and (max-width: 425px) {
  .home_head_txt {
    font-size: 1.4rem;
  }
  .web-head-img {
    display: none !important;
  }
  .mob-head-img {
    display: block !important;
  }
  .img-1 {
    height: 14rem !important;
  }
  .img-2 {
    height: 14rem !important ;
    transform: translate(0px, -33px);
  }
  .img-3 {
    height: 13rem !important;
    transform: translate(0px, -66px);
  }
}

//--------------545px---------------
@media only screen and (max-width: 545px) {
  .img-1 {
    height: 10rem;
  }
  .img-2 {
    height: 14rem;
  }
  .img-3 {
    height: 11rem;
  }
}

//--------------660px---------------
@media only screen and (max-width: 660px) {
  .home_head_txt {
    font-size: 1.7rem;
  }
.review_box{
    display: none !important;
}
.img_box{
    display: none !important;
}


}

//--------------768px---------------
@media only screen and (max-width: 768px) {
  .img-1 {
    height: 12rem;
  }
  .img-2 {
    height: 18rem;
  }
  .img-3 {
    height: 13rem;
  }

  .review_txt {
    font-size: 0.6rem !important;
  }
  .review_head_txt {
    font-size: 0.8rem !important;
  }
  .disc_txt {
    font-size: 0.6rem !important;
  }
  .review_img {
    height: 16rem !important;
  }

  .web-dis{
display: none !important;
}
.mob_dis{
    display:block !important;
  }
}

//--------------992px---------------
@media only screen and (max-width: 992px) {
  .img-1 {
    height: 18rem;
  }
  .img-2 {
    height: 26rem;
  }
  .img-3 {
    height: 20rem;
  }
  .review_txt {
    font-size: 0.8rem;
  }
  .review_head_txt {
    font-size: 1rem;
  }
  .disc_txt {
    font-size: 0.8rem;
  }
  .review_img {
    height: 20rem;
  }
  .dicover_products{
    width: 80%;
}

}



